
build-GUIproject-QT-Desktop_Qt_5_10_1_MinGW_32bit-Debug/.qmake.stash
build-GUIproject-QT-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/GUIproject-QT.exe
build-GUIproject-QT-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/main.o
build-GUIproject-QT-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/mainwindow.o
build-GUIproject-QT-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_mainwindow.cpp
build-GUIproject-QT-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_mainwindow.o
build-GUIproject-QT-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_predefs.h
build-GUIproject-QT-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile
build-GUIproject-QT-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Debug
build-GUIproject-QT-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Release
build-GUIproject-QT-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_mainwindow.h
